<div class="row mb-5">
  <div class="col-lg-8 mx-auto">
    <div class="bg-white p-5 rounded shadow">
      <!-- Underlined search bars with buttons -->
      <form>
        <div class="row mb-4">
          <div class="form-group col-md-9">
            <input id="exampleFormControlInput5" name="search" [(ngModel)]="searchText" autocomplete="off" type="text"
              placeholder="What're you searching for?" class="form-control form-control-underlined">
          </div>
          <div class="form-group col-md-3">
            <button type="submit" class="btn btn-primary rounded-pill btn-block shadow-sm">Filter <i
                class="fa fa-filter"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>