<!-- <div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">Login</h3>
      </div>
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <div class="row" *ngIf="authError">
            <div class="col-12 alert alert-danger">{{ authError?.message }}</div>
          </div>
    
          <div class="row">
            <div class="col-12">
              <label for="email">Email</label>
              <input ngModel #email="ngModel" name="email" type="email" class="form-control">
            </div>
          </div>
    
          <div class="row">
            <div class="col-12">
              <label for="password">Password</label>
              <input ngModel #password="ngModel" name="password" type="password" class="form-control">
            </div>
          </div>
    
          <div class="row mt-2">
            <div class="col-12">
              <a [routerLink]="['/register']" class="card-link">Click here to register</a>
            </div>
    
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div> -->
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <form class="user">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div>
                    </div>
                    <a href="#" class="btn btn-primary btn-user btn-block">
                      Login
                    </a>
                    <hr>
                    <a href="#" class="btn btn-google btn-user btn-block">
                      <i class="fab fa-google fa-fw"></i> Login with Google
                    </a>
                    <a href="#" class="btn btn-facebook btn-user btn-block">
                      <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                    </a>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="#">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="#">Create an Account!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>