<div id="imagecontainer" class="container-fluid homediv">

    <form>
    <fieldset style="text-align:center">
      <legend>Farm Trading</legend>
    </fieldset>
    <div style="text-align:center;margin-bottom: 5%;">
      <input type="radio" id="radio1" name="radios" value="all" checked>
      <label for="radio1">Buy</label>
   <input type="radio" id="radio2" name="radios"value="false">
      <label for="radio2">Sell</label>
   <input type="radio" id="radio3" name="radios" value="true">
      <label for="radio3">Farm</label>
       </div>

    <div class="inner-form">

      <div class="input-field first-wrap">
        <input id="search" type="text" placeholder="What are you looking for?" />
      </div>
      <div class="input-field second-wrap">
        <input id="location" type="text" placeholder="location" />
      </div>
      <div class="input-field third-wrap">
        <button  [routerLink]="['/results']" class="btn-search" type="button">Search</button>
      </div>
    </div>
    </form>
  </div>
