<div class="container mb-4">
    <div _ngcontent-jey-c5="" class="d-sm-flex align-items-center justify-content-between mb-2 mt-2">
        <h4 _ngcontent-jey-c5="" class="mb-0 text-gray-800">Mangoes Lot Id:AP123</h4>
        <h4 _ngcontent-jey-c5="" class="mb-0 text-gray-800">Posting Date:22 June 2020</h4>
       </div>
<div class="justify-content-center">
    <div class="card shadow">
     <div class="card-body cardPading">
       <div class="row mb-4 mt-4">
         <div class="col-12">
          <p class="text-uppercase text-center text-gray-800 font-weight-bold h5">Mango</p>       
        </div>
       </div>
       <div class="row">
        <div class="col-12">
          <img  class="img-fluid rounded"  src="https://images-na.ssl-images-amazon.com/images/I/71GpOmt0CVL._SX679_.jpg" alt="Photo of a Shiba Inu">
        </div>
       </div>
       <div class="row mb-2">
        <div class="col-12 align-items-center">
          <div class="card cardPading1">
            <div class="card-body cardPading1a">
              <div class="row">
                <div class="col">
                 <img  class="rounded" height="100px" width="110px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSPcQF2r3afUak5gYQxMXNM7A_oX-bXrag7tw&usqp=CAU">
                </div>
                <div class="col">
                  <h5 class="hColor">Aishwarya Rajesh</h5>
                 <p class="card-text Pmarbtm"><i class="fa fa-map-marker" aria-hidden="true"></i>Nalgonda, Telangana IND</p>
                 <p class="card-text fSize">Farmer/Agent</p>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
       <div class="row">
        <div class="col-12 align-items-center">
        <div class="card">
          <div class="card-body cardPading2">
            <div class="row">
              <div class="col borRt">
                <p class="text-center textGray text-uppercase">Variety</p>
                <p class="text-center text-gray-800 font-weight-bold">Alphonso</p>
              </div>
              <div class="col borRt">
                <p class="text-center textGray text-uppercase">Price</p>
                <p class="text-center text-gray-800 font-weight-bold">20,000/ton</p>
              </div>
              <div class="col">
                <p class="text-center textGray text-uppercase">Quantity</p>
                <p class="text-center text-gray-800 font-weight-bold">20tons</p>
              </div>
              </div>
            </div>

        </div>
       </div>
      </div>
      <div class="row">
        <div class="col-12 align-items-center">
        <div class="card">
          <div class="card-body cardPading2">
            <div class="row">
              <div class="col borRt">
                <p class="text-center textGray">Available</p>
                <p class="text-center text-gray-800 font-weight-bold">20 APR 2020</p>
              </div>
              <div class="col borRt">
                <p class="text-center textGray">Organic</p>
                <p class="text-center text-gray-800 font-weight-bold">Yes</p>
              </div>
              <div class="col">
                <p class="text-center textGray">Posted On</p>
                <p class="text-center text-gray-800 font-weight-bold">20 APR 2020</p>
              </div>
              </div>
            </div>

        </div>
       </div>
      </div>
      <div class="row mb-2">
        <div class="col-12 align-items-center">
        <div class="card">
          <div class="card-body cardPading2">
            <div class="row">
              <div class="col borRt">
                <p class="text-center textGray">Location</p>
                <p class="text-center text-gray-800 font-weight-bold">Guntur</p>
              </div>
              <div class="col borRt">
                <p class="text-center textGray">Graded</p>
                <p class="text-center text-gray-800 font-weight-bold">Yes</p>
              </div>
              <div class="col">
                <p class="text-center textGray">Quality</p>
                <p class="text-center text-gray-800 font-weight-bold">A</p>
              </div>
              </div>
            </div>

        </div>
       </div>
      </div>
      <div class="row mrRight justify-content-end mb-4">
           <button class="btn btn-primary btn-sm mr-1">Propose Offer</button>
           <button  class="btn btn-danger btn-sm"><i class="fa fa-1x fa-phone mr-1"></i>Call Our Agents</button>
        </div>
     </div>
    </div>
  </div>
</div>
